ngb-carousel {   
     display: flex;
    color: aliceblue;
    width: 90%;
    margin: 10px auto;
    border-radius: 10px;

}

.carousel-caption{
    width: 100%;
    color: rgb(38, 38, 38);
    background: #5a78f0;
    box-shadow: 0 0 30px 30px #5a78f0;    
    left: 0;
}

.carousel-caption a i{
    margin: 10px auto;
}



img{
    width: 100%;
}

.contain {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


@media only screen and (max-width: 600px){
    .contain {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: auto;
       }
}

.description {
    color: aliceblue;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 50px;
}

.item {
    background-repeat: no-repeat;
    background-color: #5a78f0;
    height: 30rem;
    border-radius: 10px;
    background-size: 100%;
    box-shadow: 0 0 30px 30px #5a78f0 inset;    
}

h1 {
    margin: 16px 48px;
    color: aliceblue;
}

