<h1>Projects</h1>
<div class="container">
    <ngb-carousel *ngIf="projects"  [interval]="5000">
        <ng-template ngbSlide *ngFor="let project of projects; let i = index" >

                <div class="item" (click)="getDescription(i)">
                    <h1>Graph 1</h1>
                    <div class="carousel-caption">
                        <h3>{{project.name}}</h3>
                        <p>{{project.description}}</p>
                    </div>
                </div>

        </ng-template>
    </ngb-carousel>
</div>
