:host {
    display: block;
    color: white;
    padding: 3rem 2rem;
}

ul {
    width: 80%;
}

ul li {
    float: left;
    width: 100%;
    clear: both;
}

ul:has(ul) {
    padding: 0%;
    list-style: none;
}

ul li:has(ul) {
    margin-top: 2rem;
}

ul li h2 {
    color: #5a77f0;
}

ul li h4 {
    color: white;
}

/* PC */
ul li:has(ul) {
    position: relative;
    margin-left: 5rem;
}

ul li:has(ul)::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: -60px;
    top: 5px;
    border-radius: 50%;
    z-index: 2;
    background-color: #5a78f0;
}

 ul li:has(ul)::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 130%;
    left: -50px;
    top: 5%;
    z-index: 1;
    background-color: white;
}

ul li:has(ul):last-child::after {  
    height: 100%;
}