<header>
    <div class="banner text-center ">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="d-flex justify-content-center align-items-center p-5">
              <div class="text-white">
                <h1 class="mb-3 heading"><strong>Dylan Johnson</strong></h1>
                <h3 class="mb-3 subheading">Fullstack Developer</h3>
                <h5 class="mb-3">
                    <i class="quote">
                      <span class="front-quotation">"</span><br>
                        Passion for Front End.<br>
                        Appreciate the Back End.<br>
                        Knowledge with both ends.<br>
                        <span class="back-quotation">"</span>

                    </i>
                 </h5>

              </div>

            </div>
            <app-personal-info></app-personal-info>

          </div>
      </div>

</header>