.banner{     
    height: auto;
    background: linear-gradient(to bottom, #46365e, #513f78, #594894, #5d53b2, #5e5ed1, #5d6ae0, #5a77f0, #5683ff, #5d91ff, #679fff, #75acff, #85b8ff);
}
.mask{
    height: inherit;
    padding: 50px;

}
.heading{
    font-size: 35px;
    letter-spacing: 7px;
    margin-top: 25px;
}

.quote{
    font-size: 20px;
    line-height: 1.7;
}

.back-quotation,
.front-quotation {
    font-size: 35px;
}

.front-quotation {
    float: left;
}

.back-quotation {
    float: right;
}


