<div class="cage">
    <div class="item item--1">
        <span class="icon">
            <i class="material-icons">javascript</i>      
        </span>
        <span class="text text--1"> JavaScript </span>
    </div>
    <div class="item item--2">
        <span class="icon"> 
            <i class="material-icons">html</i><br>
            <i class="material-icons">css</i>
        </span>
        <span class="text text--2"> HTML/CSS </span>
    </div>
    <div class="item item--3">
        <span class="icon">
            <i class="material-icons">data_object</i>
        </span>
        <span class="text text--3"> Backend </span>
    </div>
    <div class="item item--4">
        <span class="icon">
            <i class="material-icons">folder</i>
        </span>
        <span class="text text--4"> Tools </span>
    </div>
  </div>